

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
    padding: 15px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #414241;
    border-radius: 15px;
    padding: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #494b49;
    cursor: pointer;
    scroll-behavior: smooth;
    transition: background-color 0.2s ease-in-out;
  }

body{
    background: black;
    color: #fff;

}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(sunny.png);
    background-size: cover;
    background-position: center;
}
.container{
padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.logo{
    width: 120px;
    height: 70px;
    left: -79px;
    top: -4px;
    position: relative;
    cursor: pointer;
    padding: 1px;
    font-weight: m;
    font-size: 30px;
    mix-blend-mode: darken;
    

}

nav ul li{
   display: inline-block; 
   list-style: none;
   align-items: center;
   margin: 10px 20px;
   border: #f2efee;
   border-radius: 3px;
   padding: 5px;
   transition: background-color 0.5s ease-in-out;
   cursor: pointer;
   font-weight: normal;   
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    left: 145px;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;   
    background: -webkit-linear-gradient(#310274, #0c961a, rgb(11, 7, 7));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f2efee;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
    transition: width 0.5s ease-in-out;
    color: #f2efee;
    transform: translateY(100%);
    transform-origin: left;
    

    
}
.header-text{
    margin-top: 35px;
    font-size: 30px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 35px;
}
.header-text h1 span {
    color: #22c365;
    font-size: 50px;
    background: -webkit-linear-gradient(#310274, #0c961a, rgb(11, 8, 8));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/*------------about-----------*/

#about{
    padding: 50px;
    color: #d1d8d4;   
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.about-col-1{
    flex-basis: 35%;   
}
.about-col-1 img{
    width: 70%;
    border-radius: 10px;
}
.about-col-2 {
    flex-basis: 65%;
    justify-content: flex-start;
}
.sub-title {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after{
    width: 100%;  
    transition: width 0.5s ease-in-out;
}

.tab-contents ul li{
    list-style: none;
    margin: 1px;
}
.tab-contents ul li span {
    color: #e4123f;
    font-size: 14px;
    font-style: oblique;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*--------------services---------------*/

#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 30px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transform: translateY(0);
    opacity: 1;
    

}

.services-list i{
    font-size: 40px;
    margin-bottom: 15px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;   
}

.services-list div a{
    text-decoration: none;
    color: #edeaea;
    font-size: 12px;
    margin-top: 18px;
    display: inline-block;
}
.services-list div:hover{
    background: #17d372;
    transform: translateY(-10px);
    
}

/*--------------portfolio---------------*/

#portfolio{
    padding: 50px 0;
}
.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}



